* {
    box-sizing: border-box;
}

.jumbotron {
    background-image: url("../img/pizza.png");
    padding-left: 0;
    padding-right: 0;
}

h1 {
    background-color: white;
    opacity: 70%;
    text-align: center;
}